body {
    color: #ddd;
    background-color: rgb(10, 5, 30);
}

/* Style for inactive buttons */
button {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

/* Style for active buttons */
button.active {
    background-color: #4caf50;
    color: white;
}

.data-point {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 160px;
    display: inline-block;
    vertical-align: top;
}

.data-point > div {
    margin-bottom: 5px;
}

.data-point-mainstat {
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(200, 200, 250, 0.375);
    color: #f1a23c;
}

.data-point-substat {
    background-color: rgba(200, 200, 250, 0.05);
    color: #eee;
}

.data-point-substat > * {
    font-size: 16px;
    font-weight: bold;
}

.substat-styling {
    display: flex;
    justify-content: space-between;
    align-items: center;
}